.footer {
  background-color: #f8f9fa; /* Цвет фона футера */
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.footer-links a {
  color: #242424;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;

}

.footer-links a:hover {
  text-decoration: underline;
}