
footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}

footer p {
  margin-left: 20px;
}

.footer-links a {
  color: #363636;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;

}

.footer-links {
  padding-bottom: 30px;
}

.footer-links a:hover {
  text-decoration: underline;
 
}