header {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 50px;
  border-radius: 15%;
  transition: transform 0.3s ease; /* Плавный переход */
  margin-left: 20px;
}

header img:hover {
  transform: scale(1.1); /* Увеличение изображения на 10% при наведении */
}

header nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

header nav a:hover {
  text-decoration: underline;
}
