:root {
  --primary-color: #1b9a4cee; /* Основной зеленый цвет */
  --secondary-color: #a5f6b6; /* Вторичный зеленый цвет */
  --background-color: #F9FBF7; /* Цвет фона */
  --text-color: #333; /* Цвет текста */
  --button-color: #31e97a; /* Цвет кнопок */
  --button-hover-color: #1b9a4cee; /* Цвет кнопок при наведении */
  --button-shadow-color: rgba(0, 0, 0, 0.1); /* Тень для кнопок */
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Минимальная высота страницы */
}

footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
  position: relative;
  bottom: 0;
}

form {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

form input,
form select,
form button {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: var(--button-color);
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px var(--button-shadow-color);
  transition: background-color 0.3s, box-shadow 0.3s;
}

form button:hover {
  background-color: var(--button-hover-color);
  box-shadow: 0 6px 8px var(--button-shadow-color);
}

.slot-button {
  background-color: var(--secondary-color);
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px var(--button-shadow-color);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.slot-button:hover {
  background-color: var(--button-hover-color);
  box-shadow: 0 6px 8px var(--button-shadow-color);
}

.slot-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1, h2 {
  text-align: center;
}

p {
  margin-bottom: 1rem;
  line-height: 1.6;
  text-align: justify;
}

.App {
  width: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
